/* Styled the navigation bar */
nav {
    width: 100%;
    background-color: #003884; /* Dark background color */
    overflow: hidden; /* Clear floats */
    
}

/* Removed default margin and padding from the list */
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove default list style */
    text-align: center; /* Center align the list items */
}

/* Display list items side by side */
nav ul li {
    display: inline-block;
}

/* Styled the links */
nav ul li a {
    display: block;
    padding: 20px; /* Add some padding for clickable area */
    text-decoration: none; /* Remove underline from links */
    color: #ffd200; /* text color */
}

/* Change link color on hover */
nav ul li a:hover {
    background-color: #ddd; /* Light background*/
    color: #003884; /* Black text color*/
}
/* Added a border to the entire table */
table {
    border-collapse: collapse; /* Ensures that the border is neat */
    width: 100%; 
}

/* Added a border to each cell */
td, th {
    border: 1px solid black; /* Adjust the color and size as needed */
    padding: 8px; /* Adds some padding inside the cells */
}

th {
    background-color: #f2f2f2; /* Light grey background for header cells */
    color: black; /* Text color for header cells */
}
/* Class Selector 1 */
.center {
    position: absolute; /* Use absolute positioning */
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    width: auto; 
}
/* Class Selector 2 */
.center-img {
    display: block; /* Images are inline by default. Change to block to apply margin */
    margin-left: auto; 
    margin-right: auto; 
    position: relative; /* Relative positioning */
}
h1 {
    text-align: center; /* Center align the text */
    font-family: 'Courier New', Courier, monospace; /* Font family delcaration */
}
h1.center {
    margin-top: 20px; /* Adjusts space above */
    text-align: center; /* Keeps h1 centered */
}
/* ID Selector - found on index.html*/
#Top {
    margin-top: 20px; /* Adjusts space above the h1 to push it down */
    text-align: center; 
   
}
#Mid  {
    margin-top: 20px; 
    text-align: center; 
}
.sidebar {
    float: left; /* Float the sidebar to the left */
    width: 200px; 
    background-color: gray; /* Color to show Float for evaluators */
    padding: 20px; 
}

.main-content {
    margin-left: 220px; /* Adjust so it doesn't overlap anything */
}
.image-text-container {
    display: flex;
    align-items: center; /* This vertically centers the items if they have different heights */
    gap: 20px; /* Optional: adds some space between the image and the paragraph */
}
body {
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text for contrast */
}